.autograder-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
}

h1 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.inline-group, .checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-content {
  display: flex;
  flex: 1;
}

.form-container, .test-cases-container {
  flex: 1;
  overflow-y: auto;
  height: calc(100vh - 120px);
  padding: 15px;
}

.form-container {
  border-right: 1px solid #ddd;
}

.test-cases-container {
  border-left: 1px solid #ddd;
  background: #f9f9f9;
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.test-cases {
  padding: 10px;
}

.test-case {
  background: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 10px;
  position: relative; 
}

.no-test-cases {
  text-align: center;
  color: #888;
  font-size: 14px;
}

.remove-button {
  position: absolute; 
  top: 10px;
  right: 10px;
  background-color: #f9f9f9;
  color: rgb(73, 73, 73);
  border: none;
  padding: 0px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 18px;
  height: 1.5em;
  width: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-button:hover {
  background-color: #cfc9c9;
  color: rgb(73, 73, 73);
}
