label {
    display: block;
    margin-bottom: 8px;
}
  
 textarea,
 input,
 select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
  resize: none;
}
  
#create-test-button {
  background-color: #28a745;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
#create-test-button:hover {
    background-color: #218838;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
  position: relative;
}

.input-group select {
  width: 120px;
}

.input-group textarea {
  margin: 0;
  height: 45px;
}

.remove-button-small {
  background-color: #f9f9f9;
  color: rgb(73, 73, 73);
  border: none;
  padding: 0px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 16px;
  height: 1.5em;
  width: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove-button-small:hover {
  background-color: #cfc9c9;
  color: rgb(73, 73, 73);
}

.create-test-button-container {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.add-input-button {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  border: none;
  color: #7a7a7a;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}

.add-input-button:hover {
  text-decoration: none;
  color: #3b3b3b;
}